LogicApps/02_onboarding_form.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Insert_Entity_(failed)": {
                "inputs": {
                    "body": {
                        "Email": "@{triggerBody()?['email']}",
                        "FirstName": "@{triggerBody()?['firstname']}",
                        "LastName": "@{triggerBody()?['lastname']}",
                        "Office": "@{triggerBody()?['office']}",
                        "PartitionKey": "failedOnboardingTable",
                        "Position": "@{triggerBody()?['position']}",
                        "RowKey": "@{guid()}"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuretables']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/Tables/@{encodeURIComponent('failedOnboardingTable')}/entities"
                },
                "runAfter": {
                    "Send_email_(V4)": [
                        "Failed",
                        "Skipped",
                        "TimedOut"
                    ]
                },
                "type": "ApiConnection"
            },
            "Insert_Entity_(succeed)": {
                "inputs": {
                    "body": {
                        "Email": "@{triggerBody()?['email']}",
                        "FirstName": "@{triggerBody()?['firstname']}",
                        "LastName": "@{triggerBody()?['lastname']}",
                        "Office": "@{triggerBody()?['office']}",
                        "PartitionKey": "onboardingTable",
                        "Position": "@{triggerBody()?['position']}",
                        "RowKey": "@{guid()}"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuretables']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/Tables/@{encodeURIComponent('onboardingtable')}/entities"
                },
                "runAfter": {
                    "Send_email_(V4)": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Send_email_(V4)": {
                "inputs": {
                    "body": {
                        "from": "no-reply@onboarding.com",
                        "ishtml": true,
                        "subject": "Welcome to CompanyX",
                        "text": "<p><strong>Hello </strong><strong>@{triggerBody()?['firstname']}</strong><strong> </strong><strong>@{triggerBody()?['lastname']}</strong><strong>!<br>\n</strong>Welcome to CompanyX.<br>\nYou have successfully passed onboarding process.<br>\nYour position is @{triggerBody()?['position']} and in office in @{triggerBody()?['office']}.<br>\n<br>\nBest regards,<br>\nCompanyX Squad</p>",
                        "to": "@triggerBody()?['email']"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['sendgrid']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/v4/mail/send"
                },
                "runAfter": {},
                "type": "ApiConnection"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {
                        "properties": {
                            "email": {
                                "type": "string"
                            },
                            "firstname": {
                                "type": "string"
                            },
                            "lastname": {
                                "type": "string"
                            },
                            "office": {
                                "type": "string"
                            },
                            "position": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azuretables": {
                    "connectionId": "/subscriptions/<insert-subscription-id>/resourceGroups/serverless-workshops/providers/Microsoft.Web/connections/azuretables",
                    "connectionName": "azuretables",
                    "id": "/subscriptions/<insert-subscription-id>/providers/Microsoft.Web/locations/westeurope/managedApis/azuretables"
                },
                "sendgrid": {
                    "connectionId": "/subscriptions/<insert-subscription-id>/resourceGroups/serverless-workshops/providers/Microsoft.Web/connections/sendgrid",
                    "connectionName": "sendgrid",
                    "id": "/subscriptions/<insert-subscription-id>/providers/Microsoft.Web/locations/westeurope/managedApis/sendgrid"
                }
            }
        }
    }
}